# Handle line endings automatically for files detected as text
# and leave binary files untouched.
* text=auto

# Denote all files that are truly text and need their line endings normalized
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.json text eol=lf
*.html text eol=lf
*.md text eol=lf
*.example text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

# Denote binary files which should not have their line endings touched
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
